.About{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 50px;
}

.Dropdown{
    width: 90%;
    margin-top: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media screen and (max-width: 768px){
    .About{
        margin-top: 15px;
    }
    .Dropdown{
        margin-top: 15px;
        margin-bottom: 20px;
        width: 100%;
    }
}
