.About{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 160px;
}
.Dropdown{
    width: 1023px;
    height: auto;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*@media screen  and (max-width: 1490px) {
    .About > .banniere {
        height: 110px;
        margin-bottom: 20px;
    }

}*/