.banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 25px;
    height: 223px;
    background-size: cover;

}
.background{
    background-color:rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
.banner_img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}
.banner_texte{
    color: white;
    font-size: 48px;
    font-weight: 500;
    z-index: 1;
}
@media screen and (max-width: 768px){
    .banner{
        justify-content: flex-start;
        border-radius: 10px
    }
    .banner_home{
        height: 111px;
    }
    .banner_texte{
        top: 50%;
        bottom: 50%;
        font-size: 24px;
        width: 60%;
        margin-left: 16px;
    }
}