.banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 25px;
}
.banner_img{
    position: absolute;
    height: 223px;
    width: 100%;
    border-radius: 25px;
    object-fit: fill;
    filter: brightness(60%);
}
.banner_texte{
    position: relative;
    color: white;
    font-size: 48px;
    font-weight: 500;
}
@media screen and (max-width: 768px){
    .banner{
        justify-content: flex-start;
    }
    .banner_texte{
        top: 50%;
        bottom: 50%;
        font-size: 24px;
        width: 60%;
        margin-left: 16px;
    }
    .banner_img{
        height: 111px;
    }
}