.header {
display: flex;
flex-direction: row;
width: 90%;
align-items: center;
justify-content: space-between;
align-content: center;
}
.span{
    display: block;
}
.header_logo{
    width: 210px;
}
.header_logo img{
    width: 100%;
}
.nav_header{
    width: 26%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.nav_link{
    display: block;
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 96, 96, 1);
    text-decoration: none;
}
.nav_link.active{
    border-bottom: 1px solid #ff6060;
}
@media screen and (max-width: 768px){
    .nav_link{
        font-size: 12px;
    }
    .nav_header{
        width: 30%;}
    .header_logo{
        width: 145px;
        height: 47px;
    }
    
}