.home{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 50px;
    width: 90%;
}
.gallery{
    width: 100%;
    height: auto;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 25px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    
}
.gallery_card{
    width: 340px;
    height: 340px;
    margin-top: 40px;
    border-radius: 10px;
    background: rgba(255, 96, 96, 1);
}
@media screen and (max-width: 768px){
    .home{
        margin-top: 30px;
    }
    .gallery{
        background-color: transparent;
    }
    .gallery_card{
        width: 100%;
        margin-top: 20px;
        height: 255px;
    }
}